@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 144, 97, 219;
  --background-end-rgb: 144, 97, 219;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

a {
  color: white;
  border-bottom: 2px solid white;
}

a:hover {
  color: #00d4ff;
  border-bottom: 2px solid #00d4ff;
}

h1 {
  font-family: 'Avenir', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 2.4rem;
  padding: 1rem;
  border-radius: 0.5rem;
}

h2 {

  font-family: 'Avenir', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  margin-top: 0.4rem;
}

button:disabled {

  color: transparent;
}

.youtube-container div {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 Aspect Ratio */
  height: 0;
  overflow: hidden;
  max-width: 100%;
  background: #000;
  margin: 1.5em auto;
}